/**
*** CSS GRID
*** Author: bertguydev 
*** So it goes.
**/

// Header
header {
    background-color: #fff;
    box-shadow: 0 2px 3px #ddd;

    .nav-item {
        padding: 20px 15px;
    }
}

.fixed-header {
    position: fixed;
    top: 0;
    z-index: 2;
    animation: slideIn .8s;  
}

@keyframes slideIn {
    0%{
        transform: translateY(-58px);
    }
    100%{
        transform: translateY(0);
    }
}



// Pre Footer Request Quote Section
.request-quote {
    background-color: orange;
    padding: 15px 0;

    button {
        margin: 0 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
    }

    h3 {
        margin: 0;
    }
}

// Footer 
footer {
    padding: 20px 0;
    color: #eee;
    background-color: #2d333a;

    .copyright {
        p {
            font-size: 14px;
            margin: 0;
        }
    }
}

