// Site Wide
html {
    font-family: 'Roboto', sans-serif;
    color: #444;
}
.quote-btn {
    background-color: orange;
    color: #fff;

    :hover {
        color: #fff;
        text-shadow: 0 1px 4px rgb(163, 81, 5);
        background-color: #ff8f33;
    }
}

// Header
header {
    a {
        color: #444;

        :hover{
            color: orange;
        }
    }
}

//Homepage hero
.hero {
    .slick-slide {
        h1, h2, p {
            color: #fff;
            text-shadow: 0 1px 6px #333;
        }
    }
}